@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
}

* {
  transition: all 0.5s ease-in-out;
  font-family: "Poppins", sans-serif;
  color: rgb(38, 38, 38);
  font-weight: 200;
  font-size: 3rem;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: stretch;
}

.box {
  padding: 10px;
}

.large-box {
  min-height: 500px;
  /* min-width: 500px; */
  min-width: 27.62vw;
  flex-grow: 4;
}

.large-box#squish {
  /* min-width: 150px !important; */
  min-width: 7.81vw !important;
}

.long-box {
  min-height: 150px;
  /* min-width: 500px; */
  min-width: 27.62vw;
  flex-grow: 4;
}

.small-box {
  min-height: 150px;
  /* min-width: 250px; */
  min-width: 13.81vw;
  flex-grow: 1;
}

.pill {
  height: 100%;
  width: 100%;
  border: solid 12px rgb(38, 38, 38);
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: relative;
  min-height: 500px;
  min-width: 150px;
}

.slider-container input[type="range"] {
  -webkit-appearance: none;
  width: 420px;
  height: 20px;
  background-color: rgba(18, 9, 9, 0.6);
  border-radius: 5px;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: rgb(38, 38, 38) solid 14px;
  border-radius: 50%;
  cursor: grab;
  z-index: 3;
}

.input-container {
  position: absolute;
  bottom: 50px;
  left: 108px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index: 2;
}

.x-box {
  position: relative;
  min-height: 500px;
  min-width: 410px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-box p {
  position: absolute;
  top: 40%;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.x-box:hover p {
  display: block;
}

.x-box svg {
  transform: scale(0.95);
}

.rotating-icon {
  animation: rotate 10s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow {
  border: solid rgb(38, 38, 38);
  border-width: 0 12px 12px 0;
  padding: 12px;
}

.left-expand-arrow {
  margin-right: 60px;
  animation: bounceLeft 3s infinite;
}

@keyframes bounceLeft {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(0) rotate(135deg);
  }
  50% {
    transform: translateX(-30px) rotate(135deg);
  }
  70% {
    transform: translateX(-15px) rotate(135deg);
  }
}

.right-expand-arrow {
  margin-right: 60px;
  animation: bounceRight 3s infinite;
}

@keyframes bounceRight {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(0) rotate(-45deg);
  }
  50% {
    transform: translateX(30px) rotate(-45deg);
  }
  70% {
    transform: translateX(15px) rotate(-45deg);
  }
}

.logo-container {
  display: flex;
  align-items: center;
  max-width: 200px;
}

.logo-container img {
  width: 100%;
  margin-right: 100px;
  object-position: 0 5px;
}

.hidden-pill {
  height: 100%;
  width: 100%;
  border: solid 12px rgb(38, 38, 38);
  box-sizing: border-box;
  border-radius: 100px;
}

.hidden-pill a {
  margin-right: 150px;
}

.social-fan {
  position: relative;
}

.social-fan .social {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  text-align: center;
  z-index: 10;
}

.social-fan .social a {
  font-size: 2rem;
}

.social-fan:hover .instagram {
  display: block;
  animation: fanInstagram 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fanInstagram {
  0% {
    transform: rotate(0deg);
    top: 0;
    right: 0;
  }
  100% {
    transform: rotate(-20deg);
    top: -12px;
    right: 40px;
  }
}

.social-fan:hover .email {
  display: block;
  animation: fanEmail 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fanEmail {
  0% {
    transform: rotate(0deg);
    top: 0;
    right: 0;
  }
  100% {
    transform: rotate(-40deg);
    top: -16px;
    right: 100px;
  }
}

.social-fan:hover .vk {
  display: block;
  animation: fanVk 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fanVk {
  0% {
    transform: rotate(0deg);
    top: 0;
    right: 0;
  }
  100% {
    transform: rotate(-60deg);
    top: -20px;
    right: 130px;
  }
}

.stretchable:hover {
  flex-grow: 5 !important;
}

#takeover:hover ~ #squish {
  min-width: 0;
}

#takeover:hover .arrow-container {
  display: none;
}

.large-box:hover {
  flex-grow: 10 !important;
}

.large-box:hover .text-box {
  display: block;
}

.large-box .text-box {
  max-width: 300px;
}

.large-box .text-box p {
  font-size: 1.8rem;
}

.large-box .text-box a {
  font-size: 1.8rem;
  color: rgb(196, 104, 0);
  font-weight: 400;
}

.small-box.stretchable:hover .hidden {
  display: block;
}

.hidden-box {
  height: auto;
  width: 0;
  background-color: rgb(222, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-box ~ .box-container {
  overflow: hidden;
}

.hidden-box .text-box {
  margin: 30px;
}

.hidden-box .text-box p {
  font-size: 1.4rem;
}

.hidden-box .text-box a {
  color: rgb(196, 104, 0);
  font-size: 1.8rem;
}

#expand .pill,
#reverse .pill {
  cursor: pointer;
}

.pulse {
  transform-origin: center;
  animation: pulse 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
